p {
	font-family:Patrick Hand 
	font-size:30px
	margin-left:45px
}
body{
  background-color:lightgray ;
}
h1{
	font-family:Patrick Hand
	font-size:40px;margin:45px
}
.img{
	width:45px
	height:45px
	margin-right:5px
	margin-left:5px
	float: right
}
.img1{
	width:250px
	height:270px
	float:left
	margin-left:45px
}
.p1{
	font-size:25px;"
}
.p2{
	font-size:25px
	margin-left:45px
}
